<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Authenticator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            <strong>Warning:</strong> This is a fake version of the COLA Authenticator, if you see this in production something has gone badly wrong!
        </div>

        <form method="post" class="bg-white p-4 rounded shadow-sm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies (Optional, but required for some Bootstrap features) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
